/* GENERAL (ici tu mets toutes les propriété que tu veux voir se répeter à l'identique sur des partie similaire ex: tous les liens , tous les h1 etc...)*/
*
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

h1
{
    font-family: Creteround sans-serif;
    font-size: 45px;
    color: #444;
}

h2
{
    color:#444 ;
    font-size: 54px;
}

h4{
    font-size: 24px;
    color: #444;
}

p{
    line-height: 20px;
    color: #777;

}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: #444;
}

.orange
{
    color: #ff7a00;
}

.wrapper
{
    width: 940;
    margin: 0 auto;
    padding: 0 10px;
}

.clear
{
    clear: both;
    padding-top: 20px;
}

/*HEADER */

header
{
    height: 120px;
    
}

header h1
{
    float: left;
    margin-top: 32px;
}

header nav
{
    float: right;
    margin-top: 50px;

}

header nav ul li
{
    float: left;
    display: inline-block;
}

header ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;

}

/* MAIN IMG */

#main-img
{
    height: 580px;
    background: url('/img/main.jpg') center ;
 }

 #main-img h2
 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 150px 0 40px 0;
    
 }

 .button1{
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7a00;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;


 }

 .button1:hover
 {
    background:#02b8dd ;
 }

 /* SECTION ETAPE*/

 

 #etapes ul
 {
    margin: 80px 0;
 }

 #etapes ul li
 {
    width: 300px;
    float: left; 
    padding-top: 140px;
    text-align: center;
    margin-right: 10px;
 }

 #etapes h4{
    text-transform: uppercase;
    margin-bottom: 20px;

}

 #etapes p
 {
    margin-bottom: 20px;
 }
 

 


#etape1 {
    background: url(/img/steps-icon-1.png) no-repeat top center ;
}

 #etape2
 {
    background: url(/img/steps-icon-2.png) no-repeat top center;
 }

 #etape3
 {
    background: url(/img/steps-icon-3.png) no-repeat top center;
 }


 /* PARTIE POSIBILITIES */

#possibilities
{
    background-color: #efefef;
    padding: 60px 0;
}

#possibilities article
{
width: 460px;
height: 270px;
float: left;
border-radius: 10px;
}

#possibilities article :first-child
{
    margin-right: 20px;
}

.overlay
{
    
}
